.LoginButton, .LogoutButton{
  min-width: 2.5rem;
  align-self: center;
  box-shadow:   #0000001a 0px 0px 0px 1px, #00000033 0px 5px 10px 0px, #00000066 0px 15px 40px 0px;
}
.AuthDrawer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
  border-width: 5px;
  border-style: "dashed";
}

.AuthDrawer.lightBG {
  background-image: url("../../../media/wallpapers/light3.svg");
}
.authDrawer.darkBG {
  background-image: url("../../../media/wallpapers/dark3.svg");
  background-position: -50vw;
}
