node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
website/.env
website/.env.development
website/.env.test
website/.env.production
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local
# macOS
.DS_Store
