.load-content {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 100%;
    height: calc(100vh - 150px);
    padding: 25px;
}
.card .price {
    font-size: 23px;
    font-weight: 700;
}
.card .title {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.9;
}
.card .percent {
    font-size: 15px;
    font-weight: 500;
    color: rgba(22,163,74,1);
}
.card .i-price {
    font-size: 13px;
    color: rgba(22,163,74,1);
}