.cmp-address-wrapper {
  background: inherit;
  border-radius: 15px;
  border-width: 1px;
  border-color: grey;
  height: 80px;
}
.cmp-address.resolved {
  background: inherit;
  border-radius: 15px;
  border-width: 1px;
  height: 80px;
}
.input-wrapper {
  background: inherit;
}
.indicator {
  background: inherit;
}
.info-wrapper {
  background: inherit;
}
.resolved {
  background: inherit;
}
